@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }

  body {
    @apply bg-background text-secondary-900 antialiased font-sans;
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-300 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-400;
  }
}
